<div class="card">
    <h4 class="card-header text-center">printMatrix</h4>
    <div class="card-body">
        <div class="form-group">
            <div class="form-control-array">
                <div class="form-group form-control-input">
                    <label for="name" class="mb-2 mt-2">Ingrese el valor de n: </label> <br>
                    <input type="number" (ngModelChange)="getSize($event)" [(ngModel)]="n" required>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="n && n > 0">
            <div class="form-control-array">
                <div class="form-group form-control-input">
                    <label for="name" class="mb-2 mt-2">Ingrese valor de la matriz: </label> <br>
                    <input type="number" [(ngModel)]="valor" required>
                </div>
            </div>
        </div>
        <div class="form-group text-center mb-3 mt-3" *ngIf="n && n > 0">
            <button style="margin-right: .5rem;" type="button" class="btn btn-primary" (click)="addValue($event)">Agregar Valor</button>
            <button style="margin-left: .5rem;" type="button" class="btn btn-danger" (click)="clearStart()">Resetear</button>
        </div>
    </div>
</div>
<div class="card" *ngIf="array.length > 0 && n && n !== null">
    <div class="card-body">
        <div class="div-questions">
            <div class="print-prime">
                Matriz: <br>
                <ng-container *ngFor="let arr of array; let i = index;">
                    <ng-container *ngIf="i%n == 0 && i!==0">
                        <br>
                    </ng-container>
                    {{arr}}
                </ng-container>

            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="output.length > 0 && n && n !== null">
    <div class="card-body">
        <div class="div-questions">
            <div class="print-prime text-wrap text-break">
                output: [
                <ng-container *ngFor="let arr of output; let i = index;">
                    {{ i < (array.length - 1) ?  arr + ', ' : arr}}
                </ng-container>
                ]
            </div>
        </div>
    </div>
</div>